.container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TitleCard {
    background-color: white;
    width: 100%;
}
.buttons {
    background-color: blue;
    display: flex;
}
.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    align-items: center;
    border: 10px inset;
}
.row {
    display: flex;

    justify-content: center;
}
.box {
    background-color: yellow;
    
}
.hovered {
    background-color: black;
}
.etchasketch {
    background-color: red;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px outset;
  
}