body {
    background-color: #77ACF2;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TitleCard {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}
.buttons {
    display: flex;
    gap: 30px;
}
.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    align-items: center;
    border: 10px solid transparent;
    border-radius: 25px;
	box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.75);
}
.row {
    display: flex;

    justify-content: center;
}
.box {
    background-color: #C3C6C5;
    
}
.etchasketch {
    background-color: #AE1A20;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid;
    box-shadow: 5px 10px;
    gap: 20px;
    
}
.roundButton {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.sliderHousing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /*stolen from w3 schools: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C3C6C5;
    color: black;
    text-align: center;
    height: 40px;
    font-weight: bold;
  }
  .footer a {
    color: #AE1A20;
    text-decoration: none;
  }